@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

*{
  margin: 0;
  padding: 0;
  text-decoration: none;
}
body{
  width: 100vw;
  min-width: 500px;
}
li {
  list-style-type: none;
}
.hide {
  display: none;
}
button:hover {
  cursor: pointer;
}

.header-link {
  color: #1D1F22;
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 120%;
  text-transform: uppercase;
}

.header-link:hover {
  cursor: pointer;
  color: #5ECE7B;
  border-bottom: 2px solid #5ECE7B;
  padding-bottom: 25px;
}
.link-active {
  color: #5ECE7B;
  border-bottom: 2px solid #5ECE7B;
  padding-bottom: 25px;
}

.wrapper {
  max-width: 1238px;
  min-width: 500px;
  padding: 0 101px;
  width: 80vw;
  height: auto;
}

.header {
  max-width: 1238px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 80px;
  background-color: #FFFFFF;
}
.nav {
  width: 234px;
  height: 56px;
  display: flex;
  flex-direction: row;
}

.nav ul {
  width: 100%;
  text-decoration: none;
  display: flex;
  flex-direction: row;
}
.link {
  width: 97px;
  height: 56px;
  text-align: center;
  margin-top: 24px;
}
.header-logo{
  margin-top: 24px;
}
.header-logo:hover {
  cursor: pointer;
}

.header-actions {
  width: 204px;
  height: 40px;
  display: flex;
  flex-direction: row;
  margin-top: 24px;
}
.header-actions_empty{
  width: 40px;
  height: 40px;
  margin-left: 22px;
}
.header-active_currency{
  width: 68px;
  height: 29px;
  margin-top: 5.5px;
}
.header-action_cart{
  width: 20px;
  height: 20px;
  margin: 10px 22px;
}
.header-action_cart:hover {
  cursor: pointer;
}
.main {
  width: 100%;
}
.main-title {
  width: 350px;
  height: 68px;
  margin-top: 80px;
  margin-bottom: 103px;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 42px;
  line-height: 160%;
}
.main-container_product {
  height: 991px;
  width: 90vw;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}
.main-container_product-card {
  width: 386px;
  height: 444px;
  display: flex;
  padding: 20px;
  flex-direction: column;
  margin: 0 40px 103px 0;
}
.main-container_product-card:hover {
  cursor: pointer;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5)
}
.main-container_product-card_img{
  display: flex;
}
.main-container_product-card_img img {
  height: 330px;
  margin: 0 auto;
  border: solid 1px #5ECE7B;
}
.main-container_product-card p {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 160%;
  text-align: center;
}
.product-card {
  width: 100%;
  margin-top: 80px;
  display: flex;
  flex-direction: row;
}
.product-card-page-main {
  width: 1002px;
  height: 595px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.product-card-page-main_img img{
  max-width: 610px;
  height: 511px;
}
.product-card-main-info {
  width: 292px;
  padding: 10px;
}
.product-card-main-info-title{
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 27px;
  color: #1D1F22;
  margin: 10px 0 20px;
}
.product-card-main-info-attributes h3{
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.product-card-main-info-attributes ul{
  width: 100%;
  height: 45px;
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}
.product-card-main-info-attributes_value {
  width: 63px;
  height: 45px;
  border: solid 1px black;
  margin: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.product-card-main-info-attributes_value:hover{
  cursor: pointer;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5)
}
.product-card-main-info-attributes_value p{
  vertical-align: middle;
  height: 20px;
  margin: auto;
}
.product-card-main-info-price {
  width: 292px;
  height: 45px;
  margin: 20px 0 20px 0;
}
.product-card-main-info-price h3 {
  text-transform: uppercase;
}
.product-card-main-info-btn {
  width: 292px;
  height: 52px;
  border-radius: 10px;
  padding: 16px 32px;
  background: #5ECE7B;
  margin-bottom: 20px;
}
.product-card-main-info-btn:hover{
  cursor: pointer;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5)
}
.active {
  background-color: darkgray;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5)
}
.product-card_mini-img img {
  max-width: 80px;
}
.product-card_mini-img img:hover{
  cursor: pointer;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5)
}
.product-card-img-container{
  height: 595px;
  max-width: 730px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.product-card-img-container_mini {
  height: 595px;
  width: 80px;
  margin: 0 10px;
}
.dark-body{
  left: 0;
  position:fixed;
  display:flex;
  width:100%;
  height:100%;
  background:rgba(0,0,0,.7);
}
.mini-cart {
  width: 455px;
  height: 677px;
  background-color: rgb(255, 255, 255);
  margin: 0 0 0 60vw;
  overflow-y: auto;
  padding: 5px;
}
.mini-cart-item{
  width: 95%;
  max-height: 350px;
  display: flex;
  flex-direction: row;
  margin: 10px auto;
  padding: 5px;
  border: solid 1px gainsboro;
}
.product-mini-card-main-info {
  width: 50%;
}
.product-card-mimi-main-info-title {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 27px;
  color: #1D1F22;
  margin: 10px 0 20px;
}
.product-card-mini-main-info-attributes h3{
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  margin-bottom: 20px;
}
.product-card-mini-main-info-attributes div{
  width: 40%;
  height: 25px;
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}
.product-mini-card-main-info-attributes_value {
  min-width: 25px;
  border: solid 1px black;
  margin: 3px;
  display: flex;
  justify-content: center;
}
.product-mini-card-main-info-attributes_value p{
  margin: auto;
  display: block;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 600;
  font-size: 9px;
  line-height: 120%;
}
.cart-count-btn {
  border: solid 1px black;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cart-count-btn:hover {
  cursor: pointer;
}
.cart-counter {
  width: 10%;
  min-height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: auto;
}
.mini-cart-img{
  max-width: 150px;
  display: flex;
}
.mini-cart-img img{
  max-width: 140px;
  margin: auto;
}
.cart-counter-count {
  display: flex;
  align-items: center;
  justify-content: center;
}
.mini-cart-total-price {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px 0;
}
.mini-cart-btn {
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.mini-cart-btn button{
  width: 45%;
  height: 50px;
  border: solid 1px black;
  background-color: white;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 120%;
}
.cart-btn-order {
  background-color: #5ECE7B !important;
  border: none !important;
  color: white;
}
.chose-value {
  background-color: #5ECE7B;
}


.loader {
  --b: 10px;  /* border thickness */
  --n: 10;    /* number of dashes*/
  --g: 10deg; /* gap  between dashes*/
  --c: rgb(0, 255, 60);   /* the color */

  width: 60px; /* size */
  aspect-ratio: 1;
  border-radius: 50%;
  margin: 45vmax auto;
  padding: 1px; /* get rid of bad outlines */
  background: conic-gradient(#0000,var(--c)) content-box;
  --_m: /* we use +/-1deg between colors to avoid jagged edges */
    repeating-conic-gradient(#0000 0deg,
       #000 1deg calc(360deg/var(--n) - var(--g) - 1deg),
       #0000     calc(360deg/var(--n) - var(--g)) calc(360deg/var(--n))),
    radial-gradient(farthest-side,#0000 calc(98% - var(--b)),#000 calc(100% - var(--b)));
  -webkit-mask: var(--_m);
          mask: var(--_m);
  -webkit-mask-composite: destination-in;
          mask-composite: intersect;
  animation: load 1s infinite steps(var(--n));
}
@keyframes load {to{transform: rotate(1turn)}}
