@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

*{
  margin: 0;
  padding: 0;
  text-decoration: none;
}
body{
  width: 100vw;
  min-width: 500px;
}
.hide {
  display: none;
}

.header-link {
  color: #1D1F22;
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 120%;
  text-transform: uppercase;
}

.header-link:hover {
  cursor: pointer;
  color: #5ECE7B;
  border-bottom: 2px solid #5ECE7B;
  padding-bottom: 25px;
}
.link-active {
  color: #5ECE7B;
  border-bottom: 2px solid #5ECE7B;
  padding-bottom: 25px;
}

.wrapper {
  max-width: 1238px;
  min-width: 500px;
  padding: 0 101px;
  width: 80vw;
}

.header {
  max-width: 1238px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 80px;
}
.nav {
  width: 234px;
  height: 56px;
  display: flex;
  flex-direction: row;
}

.nav ul {
  width: 100%;
  text-decoration: none;
  display: flex;
  flex-direction: row;
}
.link {
  list-style-type: none;
  width: 97px;
  height: 56px;
  text-align: center;
  margin-top: 24px;
}
.header-logo{
  margin-top: 24px;
}

.header-actions {
  width: 204px;
  height: 40px;
  display: flex;
  flex-direction: row;
  margin-top: 24px;
}
.header-actions_empty{
  width: 40px;
  height: 40px;
  margin-left: 22px;
}
.header-active_currency{
  width: 68px;
  height: 29px;
  margin-top: 5.5px;
}
.header-action_cart{
  width: 20px;
  height: 20px;
  margin: 10px 22px;
}
.main {
  width: 100%;
}
.main-title {
  width: 350px;
  height: 68px;
  margin-top: 80px;
  margin-bottom: 103px;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 42px;
  line-height: 160%;
}
.main-container_product {
  height: 991px;
  width: 90vw;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}
.main-container_product-card {
  width: 386px;
  height: 444px;
  display: flex;
  padding: 20px;
  flex-direction: column;
  margin: 0 40px 103px 0;
}
.main-container_product-card:hover {
  cursor: pointer;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5)
}
.main-container_product-card_img{
  display: flex;
}
.main-container_product-card_img img {
  width: 354px;
  height: 330px;
  margin: 0 auto;
  border: solid 1px #5ECE7B;
}
.main-container_product-card p {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 160%;
  text-align: center;
}
.product-card {
  width: 100%;
  display: flex;
  flex-direction: row;
}
.product-card-page-main {
  width: 1002px;
  height: 595px;
  display: flex;
  flex-direction: row;
}
.product-card-page-main_img img{
  width: 610px;
  height: 511px;
}
.product-card-main-info {
  width: 292px;
  padding: 10px;
}
.product-card-main-info-title{
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 27px;
  color: #1D1F22;
  margin: 10px 0 20px;
}
.product-card-main-info-attributes h3{
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.product-card-main-info-attributes div{
  width: 292px;
  height: 45px;
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}
.product-card-main-info-attributes_value {
  width: 63px;
  height: 45px;
  border: solid 1px black;
  margin: 3px;
  display: flex;
  justify-content: center;
}
.product-card-main-info-attributes_value:hover{
  cursor: pointer;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5)
}
.product-card-main-info-attributes_value p{
  vertical-align: middle;
  height: 20px;
  margin: auto;
}
.product-card-main-info-price {
  width: 292px;
  height: 45px;
  margin: 20px 0 20px 0;
}
.product-card-main-info-btn {
  width: 292px;
  height: 52px;
  border-radius: 10px;
  padding: 16px 32px;
  background: #5ECE7B;
  margin-bottom: 20px;
}
.product-card-main-info-btn:hover{
  cursor: pointer;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5)
}